<!DOCTYPE html>
<html>
  <head>
    <title>FrogmiApi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_include_tag "application", "data-track-turbo": "true", defer: true %>
  </head>

  <body class="bg-white h-screen">
    <main class="w-full flex flex-col h-full">
      <div class="h-full overflow-y-hidden">
        <%= yield %>
      </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
</html>

